---
---

//
// IMPORTS
//

@import "_reset";
@import "_variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
	background: $baseBackground;
  font: 1em $baseFont;
  color: $darkGray;
}


header {

  padding-top: 50px;

  .site-name,
  .site-avatar {
    display: block;
  }

  .site-avatar {
    margin: auto;
    width: 80px;
    height: 80px;

    img {
      display: inline-block;
      border-radius: 40px;
    }
  }

  h1 {
    display: block;
    text-align: center;
    margin: 0;

    line-height: 1.4;
    font: 1.2em $baseFont;
    font-weight: 100;
    text-transform: uppercase;

    b {
      font-weight: 400;
      margin-left: 1px;
    }
  }
}

.content-area {
  background: $lightGray;
  padding-top: 30px;
}
