{% if site.footer-links.github %}<a href="http://github.com/{{ site.footer-links.github }}" aria-label="Link to my GitHub profile">{% include svg-icons/github.html %}</a>{% endif %}
{% if site.footer-links.twitter %}<a href="http://twitter.com/{{ site.footer-links.twitter }}" aria-label="Link to my Twitter profile">{% include svg-icons/twitter.html %}</a>{% endif %}
{% if site.footer-links.stackoverflow %}<a href="http://stackoverflow.com/{{ site.footer-links.stackoverflow }}">{% include svg-icons/stackoverflow.html %}</a>{% endif %}
{% if site.footer-links.googlePlus %}<a href="https://plus.google.com/{{ site.footer-links.googlePlus }}">{% include svg-icons/googlePlus.html %}</a>{% endif %}
