
//
// VARIABLES
//

// Colors
$blue: #4183C4;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// backgrounds
$baseBackground: $white;
$footerBackground: #444;

// Font stacks
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,700);

$baseFont: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;

// Mobile breakpoints
@mixin tablet {
  @media screen and (min-width: 440px) and (max-width: 750px) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: 440px) {
    @content;
  }
}
